## Encryption Key
CONFIG_encryption_key=

## App Details
APP_NAME=URstore
DOMAIN=localhost

## DataBase Default
DB_HOST=localhost
DB_DATABASE=v2_urstore
DB_USERNAME=root
DB_PASSWORD=

## Session/Cache Driver
SESS_DRIVER=
SESS_COOKIE_NAME=
SESS_EXPIRATION=
SESS_SAVE_PATH=
SESS_MATCH_IP=
SESS_TIME_TO_UPDATE=
SESS_REGENERATE_DESTROY=
SESS_SAMESITE=Lax